html, body {
	margin: 0;
	font-family: Arial;
}

.cases {
	border-radius: 10px;
	background-color: #cceeff;
	width: 10%;
	float: left;
	margin: 1%;
	padding: 20px 5px 20px 5px;
	text-align: center;
	cursor: pointer;
}

.case-open {
	background-color: #CCCCCC;
}

.case-label {
	font-size: 24px;
}

.case-value {
	font-size: 16px;
	color: #808080;
}

.divider {
	clear: both;
	border: 2px solid green;
}

.door-container {
	cursor: pointer;
	float: left;
	margin: 10px;
	padding: 10px;
	width: 256px;
	height: 256px;
	border: 10px solid #CCCCCC;
	text-align: center;
	overflow: hidden;
}

.door-label {
	text-align: center;
	margin-top: -40px;
	font-size: 24px;
}